@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

/* Reset some default browser styles */
body, h1, ul, p {
  margin: 0;
  padding: 0;
  font-family: 'Roboto';
}

/* Common styles for both light and dark modes */
body {
  font-family: 'Arial', sans-serif;
  color: #333;
  line-height: 1.6;
  text-align: center;
  margin-bottom: 20px;
  padding: 20px;
  transition: background-color 0.3s, color 0.3s;
}

/* Light mode styles */
body.light-mode {
  background-color: #f3f4f6;
}

/* Center text and images on the page */
h1, img, form, p, h2 {
  text-align: center;
  margin-bottom: 20px;
}

/* Add some space at the top and bottom of the page */
body {
  padding: 20px;
}

/* Style the generation buttons */
#generationButtons {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap; /* Allow buttons to wrap to the next row */
  margin: 10px auto;
  max-width: 300px; /* Adjust as needed */
}

.generation-button {
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 4px;
  padding: 8px 12px;
  margin: 5px;
  font-size: 14px;
  cursor: pointer;
  transition: background-color 0.3s;
  flex: 1 1 calc(33.33% - 10px); /* Distribute buttons evenly in three columns */
}

.generation-button:hover {
  background-color: #0056b3;
}

/* Style the Pokémon image */
#pokemonImage {
  max-width: 100%;
  height: auto;
  border: 4px solid #ccc;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  margin: 0 auto; /* Center the image horizontally */
  display: block; /* Make it a block element to center properly */
}

/* Style the form */
form {
  margin: 20px auto;
}

input[type="number"] {
  padding: 10px;
  font-size: 16px;
  border: 2px solid #ccc;
  border-radius: 4px;
}

button {
  padding: 10px 20px;
  font-size: 16px;
  border: none;
  border-radius: 4px;
  background-color: #007bff;
  color: white;
  cursor: pointer;
  margin-left: 10px;
}

button:hover {
  background-color: #0056b3;
}

/* Style the result and score */
#result, #score {
  font-size: 18px;
  margin: 10px 0;
}

/* Style the result element */
#result {
  font-size: 24px; /* Adjust font size as needed */
  padding: 10px 20px;
  border-radius: 8px;
  margin: 10px 0;
  color: white; /* Text color */
  font-weight: bold; /* Make the text bold */
}

.correct {
  background-color: green; /* Change this to the desired green color */
  color: white; /* Text color for "Correct" */
  padding: 5px 10px; /* Adjust padding as needed */
  border-radius: 5px; /* Adjust border radius as needed */
}

/* Style the result element for wrong answers */
#result.wrong {
  background-color: #FF5722; /* Red background for wrong answers */
}

/* Style the top scores section */
#top-scores {
  background-color: #ADD8E6 !important; /* Light pastel blue background color */
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  max-width: 400px;
  margin: 20px auto;
}

#top-scores h2 {
  font-size: 24px;
  margin-bottom: 10px;
}

#scoreList {
  list-style-type: none;
  padding: 0;
  margin: 0; /* Remove default list margin */
}

#scoreList li {
  padding: 10px;
  border-bottom: 1px solid #eee;
  font-size: 18px;
  display: flex;
  justify-content: space-between; /* Align name and score to the left and right */
  align-items: center; /* Vertically center the content */
}

/* Style alternating rows */
#scoreList li:nth-child(even) {
  background-color: #f0f0f0; /* A slightly lighter gray */
  color: #333; /* Darker text color for better readability */
}

/* Add some spacing between name and score */
.score-name {
  flex: 2; /* Distribute available space equally between name and score */
  margin-right: 10px; /* Add spacing between name and score */
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.score-score {
  color: #007bff; /* Blue color for the score */
  flex: 1; /* Distribute available space equally between name and score */
  text-align: right;
}

/* Style the score with a background color that works for both light and dark modes */
#score {
  font-size: 18px;
  margin: 10px 0;
  background-color: #4CAF50; /* Green color that contrasts well with both light and dark text */
  color: white; /* White text color for good contrast on the green background */
  padding: 10px 20px; /* Add padding to the score element */
  border-radius: 8px; /* Rounded corners */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Subtle box shadow */
  transition: background-color 0.3s, color 0.3s; /* Smooth transition on color change */
}

/* Hover effect */
#score:hover {
  background-color: #45A049; /* Slightly darker green on hover */
}

#google-form {
  text-align: center;
  margin-top: 20px;
  max-width: 800px; /* Or whatever max width you want */
  margin-left: auto;
  margin-right: auto;
}

#google-form iframe {
  width: 100%;
  border: none;
}

.bug-button {
  background-color: orange;
}